/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#root_pane {
	-fx-background-color: rgba(0,0,255,0.0);
}

#root_left_pane {
	-fx-background-color: #202020;
	-fx-background-radius: 10px 0px 0px 10px;
	-fx-padding: 50px 0px 0px 0px;
	-fx-spacing: 50px;
}

#root_center_pane {
	-fx-background-color: #ffffff;
	-fx-background-radius: 0px 10px 10px 0px;
}

#window_bar {
	-fx-alignment: center-right;
}

#window_icon {
	-fx-background-color: transparent;
    -fx-border-style: none;
}

#window_icon {
	-fx-background-color: transparent;
    -fx-border-style: none;
}

#window_icon:hover {
	-fx-background-color: red;
	-fx-background-radius: 100.0% ;
}

#facebook_pane {
	-fx-background-color: #ffffff;
	-fx-alignment: baseline-center ;
}

#icon {
	-fx-background-color: transparent;
    -fx-border-style: none;
}

#icon:hover {
	-fx-effect: dropshadow(gaussian, #ffffff, 20.0, 0.5, 0.0, 0.0);
}

#post_pane {
	-fx-padding: 10px;
	-fx-effect: dropshadow(gaussian, #555555, 10.0, 0.2, 0.0, 0.0);
}

#post_texto {
	-fx-background-color: #ffffff;
}

#tool_bar {
	-fx-background-color: rgb(0,128,255) ;
	-fx-background-radius: 10px 10px 0px 0px;
}
