/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#root_pane {
	-fx-background-color: rgba(0,0,0,0.0);
}

#window_root_pane {
	-fx-effect: dropshadow(gaussian, #000000, 10.0, 0.2, 0.0, 0.0);
}

#window_pane {
	-fx-background-color: #edf0f5;
	-fx-background-radius: 0px 10px 10px 0px;
	-fx-alignment: center;
}

#shadow_gap {
	-fx-background-color: rgba(0,0,0,0.0);
}

#window_left_menu {
	-fx-background-color: #202020;
	-fx-background-radius: 10px 0px 0px 10px;
	-fx-padding: 50px 0px 0px 0px;
	-fx-spacing: 50px;
}

#window_left_menu_icon {
	-fx-background-color: transparent;
    -fx-border-style: none;
}

#window_left_menu_icon:hover {
	-fx-effect: dropshadow(gaussian, #ffffff, 20.0, 0.5, 0.0, 0.0);
}

#window_top_bar {
	-fx-alignment: top-right;
}

#window_top_bar_buttons_container {
	-fx-alignment: top-right;
}

#window_top_bar_close_button {
	-fx-background-color: transparent;
    -fx-border-style: none;
}

#window_top_bar_close_button:hover {
	-fx-background-color: rgba(255,59,48, 1);
	-fx-background-radius: 0px 10px 0px 0px;
}

#window_top_bar_search_container {
	-fx-padding: 4px 0px 4px 0px;
}
#search_pane {
	-fx-background-color: #ffffff;
	-fx-background-radius: 50px;
	-fx-padding: 0px 4px 0px 4px;
}

#search_text_field {
	-fx-background-color: transparent;
	-fx-border-style: none;
}

#search_button {
	-fx-background-color: transparent;
    -fx-border-style: none;
}

#twitter_scroll_feed_pane {
	-fx-background-color: #ff0000;
	-fx-alignment: center;
}
#twitter_feed_pane {
	-fx-background-color: #ff0000;
	-fx-spacing: 50px;
	-fx-alignment: center;
}


#post_pane {
	-fx-background-color: #ffffff;
	-fx-background-radius: 10px;
}
